<header class="site-header">

  <div class="wrap">

    {% if site.homeurl %}<a class="topnav" href="{{ site.homeurl }}"> Inicio </a>{% endif %}
    {% if site.editurl %}<a class="topnav" href="{{ site.editurl }}{% if page.collection %}/{{ page.collection | prepend: '_' }}{% endif %}/{% assign p = page.url | split: '/' | last | replace: '.html', '.md' %}{% if p == '' %}index.md{% else %}{{ p }}{% endif %}" target="#">Reglas Generales</a>{% endif %}
    {% if site.issueurl %}<a class="topnav" href="{{ site.issueurl }}">Reglas Positivas</a>{% endif %}
    {% if site.issueurl %}<a class="topnav" href="{{ site.issueurl }}">Reglas Negativas</a>{% endif %}
    {% if site.issueurl %}<a class="topnav" href="{{ site.issueurl }}">Reglas Ortográficas</a>{% endif %}

    {% if site.name %}<span class="site-title-topnav">{{ site.name }}</span>{% endif %}

  </div>

</header>
